__pycache__
multiFunctionalOptimization.py
multiFunctionalOptimizationNor.py
multiFunctionalOptimizationSwe.py
.ipynb_checkpoints
*.zip
*.csv
*.json
*.lp
*.h5
!/EUclimate_vs_natPolicy_FIN/rslt_RCP0_CentralFinland.zip
!/NatPolicyAnalysis_FIN/rslt_RCP0_CentralFinland.zip
!/*/FIN_globiom1p5_all.csv
!/*/FIN_globiomLTS_all.csv
!/*/FIN_globiomNDC_all.csv
!/*/NOR_globiomNDC_all.csv
!/*/G1p5_5%.csv
!/EUclimate_vs_natPolicy_SWE/Sweden_5%_RCP0.zip
!/EUclimate_vs_natPolicy_SWE/Sweden_5%_RCP45.zip