__pycache__
multiFunctionalOptimization.py
.ipynb_checkpoints
*.zip
*.csv
*.json
*.lp
*.h5
!/EUclimate_vs_natPolicy/rslt_RCP0_keskisuomi_V11_smooth.zip
!/FIN_natPolicyAnalysis/rslt_RCP0_keskisuomi_V11_smooth.zip
!/*/FIN_globiom1p5_all.csv
!/*/FIN_globiomLTS_all.csv
!/*/FIN_globiomNDC_all.csv
!/*/NOR_globiomNDC_all.csv